<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metro Rail Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-M6C9anzq7GcT0g1mv0hVorHndQDVZLVBkRVdRb2SsQT7evLamoeztr1ce+tvn+f2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QRCodeBasedMetroTicketingSystem.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <img src="~/images/metro-logo.png" alt="Logo" class="sidebar-logo">
                <span class="sidebar-title">METRO RAIL</span>
            </a>
            <i class="bi bi-x-lg close-sidebar-icon"></i>
        </div>

        <nav class="sidebar-nav">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "active-link" : "")"><i class="bi bi-columns-gap"></i> Dashboard</a>
            <a asp-area="Admin" asp-controller="Station" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Station" ? "active-link" : "")"><i class="bi bi-buildings"></i> Manage Stations</a>
            <a asp-area="Admin" asp-controller="FareAndDistance" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "FareAndDistance" ? "active-link" : "")"><i class="bi bi-table"></i> Fare & Distance Table</a>
            <a href=""><i class="bi bi-people"></i> Manage Users</a>
            <a href=""><i class="bi bi-bar-chart-line"></i> Reports</a>
            <a href=""><i class="bi bi-exclamation-triangle"></i> Emergency</a>
            <a asp-area="Admin" asp-controller="SystemSettings" asp-action="Index" class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "SystemSettings" ? "active-link" : "")"><i class="bi bi-gear"></i> System Settings</a>
        </nav>

        <div class="sidebar-footer">
            Logged in as: Admin
        </div>
    </div>

    <div class="main-container">
        <header>
            <div class="left-elements">
                <div class="sidebar-menu-icon">
                    <i class="bi bi-list"></i>
                </div>
            </div>

            <div class="right-elements">
                <div id="fullscreen">
                    <i id="enter-fullscreen" class="bi bi-arrows-fullscreen"></i>
                    <i id="exit-fullscreen" class="bi bi-fullscreen-exit" style="display: none"></i>
                </div>

                <div class="header-dropdown">
                    <div class="dropdown-toggle">
                        <i class="bi bi-person"></i>Admin
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#!"><i class="bi bi-gear"></i> Settings</a></li>
                        <li class="sub-dropdown">
                            <span><i class="bi bi-cloud-sun"></i> Appearance <i class="bi bi-chevron-right"></i></span>
                            <div class="them-switcher">
                                <div class="switch-block">
                                    <p>Sidebar</p>
                                    <div class="btnSwitch">
                                        <button type="button" class="changeSidebarTheme" data-theme="dark-slate"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="dark-blue"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="charcoal-black"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="midnight-navy"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="deep-navy"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="white"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="midnight-blue"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeSidebarTheme" data-theme="dark-gray"><i class="bi bi-check-lg"></i></button>
                                    </div>
                                </div>

                                <div class="switch-block">
                                    <p>Header</p>
                                    <div class="btnSwitch">
                                        <button type="button" class="changeHeaderTheme" data-theme="dark-slate"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="dark-blue"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="charcoal-black"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="midnight-navy"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="deep-navy"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="white"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="midnight-blue"><i class="bi bi-check-lg"></i></button>
                                        <button type="button" class="changeHeaderTheme" data-theme="dark-gray"><i class="bi bi-check-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#!"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <partial name="_ToasterNotification" />
            @RenderBody()
        </main>

        <footer>
            Copyright &copy; 2025 - 2025 by <a href="https://github.com/Learnathon-By-Geeky-Solutions/netninjas" target="_blank" style="margin-left: 5px;"> NetNinjas</a>. All rights reserved.
        </footer>
    </div>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.js" integrity="sha384-k90VzuFAoyBG5No1d5yn30abqlaxr9+LfAPp6pjrd7U3T77blpvmsS8GqS70xcnH" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
